In [1]:
from tabulate import tabulate

AND Gate

In [53]:
x1 = [0, 0, 1, 1]
x2 = [0, 1, 0, 1]
w1 = [1, 1, 1, 1]
w2 = [1, 1, 1, 1]
t = 2
print("x1    x2    y    w1   w2     Yin     target   ")
for i in range(len(x1)):
    y = x1[i] & x2[i]
    Yin = x1[i] * w1[i] + x2[i] * w2[i]
    print(f"{x1[i]}     {x2[i]}     {y}     {w1[i]}    {w2[i]}     {Yin}         {target}    ")

x1    x2    y    w1   w2     Yin     target
0     0     0     1    1     0         1
0     1     0     1    1     1         1
1     0     0     1    1     1         1
1     1     1     1    1     2         1

OR

In [55]:
x1 = [0, 0, 1, 1]
x2 = [0, 1, 0, 1]
w1 = [1, 1, 1, 1]
w2 = [1, 1, 1, 1]
t = 1
print("x1   x2   Y   w1   w2    Yin    target    ")
for i in range(len(x1)):
    # Calculate Yin
    Yin = x1[i] * w1[i] + x2[i] * w2[i]
    O = 1 if Yin >= t else 0
    Y = x1[i] | x2[i]
    print(f"{x1[i]}    {x2[i]}    {Y}   {w1[i]}    {w2[i]}      {Yin}       {target}   ")

x1   x2   Y   w1   w2    Yin    target
0    0    0   1    1      0       1
0    1    1   1    1      1       1
1    0    1   1    1      1       1
1    1    1   1    1      2       1

NOT

In [64]:
x = [0, 1]
w = [-1, -1]
t = 0
print("x    Y   w      t     Yin    target   ")
for i in range(len(x)):
    Yin = x[i] * w[i]
    target = 1 if Yin >= t else 0
    Y = 1 if x[i] == 0 else 0
    print(f"{x[i]}    {Y}   {w[i]}    {t}      {Yin}       {target}      ")

x    Y   w      t     Yin    target
0    1   -1    0      0       1
1    0   -1    0      -1       0

NAND

In [70]:
x1 = [0, 0, 1, 1]
x2 = [0, 1, 0, 1]
w1 = [-1, -1, -1, -1]
w2 = [-1, -1, -1, -1]
t = -2
print("x1  x2 y  w1  w2   t  Yin  target  ")
for i in range(len(x1)):
    Yin = x1[i] * w1[i] + x2[i] * w2[i]
    target = 1 if Yin > t else 0
    y = 0 if x1[i] & x2[i] else 1
    print(f"{x1[i]}   {x2[i]}  {y}  {w1[i]}  {w2[i]}  {t}   {Yin}   {target}   ")

x1  x2 y  w1  w2   t  Yin  target
0   0  1  -1  -1  -2   0   1
0   1  1  -1  -1  -2   -1   1
1   0  1  -1  -1  -2   -1   1
1   1  0  -1  -1  -2   -2   0

NOR

In [72]:
x1 = [0, 0, 1, 1]
x2 = [0, 1, 0, 1]
w1 = [1, 1, 1, 1]
w2 = [1, 1, 1, 1]
t = 0
print("x1  x2 y  w1  w2  t  Yin  target  ")
for i in range(len(x1)):
    Yin = x1[i] * w1[i] + x2[i] * w2[i]
    target = 1 if Yin <= t else 0
    y = 1 if not (x1[i] or x2[i]) else 0
    print(f"{x1[i]}   {x2[i]}   {y}  {w1[i]}   {w2[i]}   {t}   {Yin}   {target}   ")

x1  x2 y  w1  w2  t  Yin  target
0   0   1  1   1   0   0   1
0   1   0  1   1   0   1   0
1   0   0  1   1   0   1   0
1   1   0  1   1   0   2   0

XOR

In [73]:
x1 = [0, 0, 1, 1]
x2 = [0, 1, 0, 1]
w1 = [1, 1, 1, 1]
w2 = [1, 1, 1, 1]
w3 = [1, 1, 1, 1]
w4 = [-1, -1, -1, -1]
w5 = [-1, -1, -1, -1]
w6 = [1, 1, 1, 1]
t1 = [0.5,0.5,0.5,0.5]
t2 = [-1.5,-1.5,-1.5,-1.5]
t3 = [1.5,1.5,1.5,1.5]
def XOR (a, b):
    if a != b:
        return 1
    else:
        return 0
print('x1    x2    w1    w2    w3     w4    w5     w6    t1        t2      t3     O')
for i in range(len(x1)):
    print(x1[i],'   ',x2[i],'   ',w1[i],'   ',w2[i],'   ',w3[i],'   ',w4[i],'   ',w5[i],'   ',w6[i],'   ',t1[i],'   ',t2[i],'   ',t3[i],'   ',XOR(x1[i],x2[i]))

x1    x2    w1    w2    w3     w4    w5     w6    t1        t2      t3     O
0     0     1     1     1     -1     -1     1     0.5     -1.5     1.5     0
0     1     1     1     1     -1     -1     1     0.5     -1.5     1.5     1
1     0     1     1     1     -1     -1     1     0.5     -1.5     1.5     1
1     1     1     1     1     -1     -1     1     0.5     -1.5     1.5     0